
// * Main

section {
  padding: 2*$standard-sizing;
}

.hero {
  height: calc(60vh - 200px);
  img{
    height: 240px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  @include flex (row, space-around);
  align-items: center;
  padding: 2*$standard-sizing;
}

.about {
  line-height: 2;
  font-size: 1.2*$standard-sizing;

  .chakra-tabs__tab{
    width: 30%;
    text-align: center;
    color: $magenta-haze;
    background-color: $sunset-transl;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 0.5*$standard-sizing;
    font-size: $standard-sizing;
  }
}

// Skills section

.skills{
  @include flex(row, space-between);
  flex-grow: 4;

  img {
    height: 72px;
    aspect-ratio: 1/1;
  }

  .codingSkills {
    flex-wrap: wrap;
    flex: 2;
  }

  .techSkills, .softSkills {
    flex: 1;
    max-width: 240px;
  }

  * {
    color: $warm-mid-tone-grey;
    text-align: center;
  }

}

.chakra-card {
  height: 148px;
}

.chakra-card__footer{
  display: flex;
  justify-content: center;
  p {
    text-align: center;
  }
  
}

// Projects section

.projects{
  * {
    background-color: $eerie-black;
    color: $warm-ivory;
  }

  span {
    padding-left: $standard-sizing;
    padding-right: $standard-sizing;
    font-size: large;
  }
}

.chakra-accordion_button {
  border: none;
}

.chakra-accordion {
  height: 50vh;
}

.projectIcon{
  height: 72px;
  margin-top: $standard-sizing;
  margin-bottom: $standard-sizing;
  margin-left: 2 * $standard-sizing;
  margin-right: 2 * $standard-sizing;
  border-radius: 10px;
}

.projectFull {
  @include flex(row, space-between);
  padding-left: 2*$standard-sizing;
  padding-right: 2*$standard-sizing;

  .projectDetails{
    @include flex(column, space-around);
    align-items: center;
    padding-left: $standard-sizing;
  }

  p{
    text-align: center;
  }

  a{
    font-size: 1.5*$standard-sizing;
    padding: $standard-sizing;
    color: $sunset;
  }
}

.screenshots {
  
  img{
    max-height: 20vh;
    max-width: 50vw;
  }
}

//  Background section

.background{
  padding-top: 0;

  * {
    text-align: center;
  }

  img {
    border-radius: 5px;
    align-self: center;
  }
}

.backgroundContainer {
  @include flex(row, space-around)
}

.gallery {
  @include flex(row, space-around)
}

@media only screen and (max-width: 768px) {
  .projectFull {
    @include flex(column, space-between);
    align-items: center;
    padding-left: 1*$standard-sizing;
    padding-right: 1*$standard-sizing;
  }

  .backgroundContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;

    .chakra-card {
      min-height: 700px
    }
  }
}

// Overriding CSS
